/* app.css
 * Hubble Africa default screen styling ...
 **/
body {
	padding: 0;
	margin: 0;
}

.tmg-wrapper {
	width: 1146px;
	height: 670px;
	position: fixed;
	overflow: hidden;
}

input,
button:focus {
	outline: none;
}

span {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

/* Default Swiper Slides Styling */
.swiper-slide {
	height: 670px;
}

.swiper-pagination-bullet {
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 100%;
	background: #fff;
	opacity: 0.8;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
}
.swiper-pagination-bullet-active {
	opacity: 1;
	background: #991000;
}
/* Default Animations */
.animated {
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}

/* Back Button Styling*/
.back {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 16px;
	left: 16px;
	background: url('../img/3\ Courses/Back Button.png');
	z-index: 20;
}
.back.openDay {
	background: transparent;
}

/* Landing Page - Slide 0 */

#home-section {
	position: absolute;
	top: 0;
	left: 0;
	width: 1146px;
	height: 670px;
	z-index: 8;
}
.navs.homePageCard {
	position: absolute;
	bottom: 20px;
	width: 351px;
	height: 298px;
}
.homePageCard.openDay {
	position: absolute;
	right: 24px;
	top: 24px;
	height: 62px;
	width: 348px;
	background: url('./../img/1\ Home/Open Day Button.png');
}
.navs.homePageCard.courses {
	left: 20px;
	background: url('./../img/1\ Home/1 View Courses.jpg');
}
.navs.homePageCard.about {
	right: 396px;
	background: url('./../img/1\ Home/2 About Monash.jpg');
}
.navs.homePageCard.gallery {
	right: 20px;
	background: url('./../img/1\ Home/3 Gallery.jpg');
}

.swiper-pagination {
	bottom: 30px !important;
}

/* Gallery */
.cmp-gallery {
	transition: all 400ms ease;
	opacity: 0;
	pointer-events: none;
	background: url('./../img/5\ Gallery/1.jpg');
}
.cmp-gallery.swiper-slide-active {
	opacity: 1;
	pointer-events: all;
}

#gallery-section .arrows {
	position: absolute;
	background: url('./../img/5\ Gallery/ARROW.png');
	bottom: 316px;
	width: 1043px;
	height: 41px;
	left: 50px;
	z-index: 8;
}
.next-gal {
	position: absolute;
	background: transparent;
	bottom: 180px;
	width: 250px;
	height: 300px;
	right: 0px;
	z-index: 9;
}
.prev-gal {
	position: absolute;
	background: transparent;
	bottom: 180px;
	width: 250px;
	height: 300px;
	left: 0px;
	z-index: 9;
}
.prev-gal:focus,
.next-gal:focus {
	outline: -webkit-focus-ring-color auto 0px;
}

/* Courses */
img.courseContextImg {
	position: absolute;
	top: 119px;
	left: 368px;
}
section.courseNavContainer {
	position: absolute;
	left: 18px;
	bottom: 120px;
}
section.coursesMainContainer {
	height: 364px;
	width: 780px;
	position: absolute;
	right: 0px;
	bottom: 120px;
	overflow: hidden;
}
#CourseOuterSlide .swiper-slide {
	height: 364px;
	width: 780px;
	min-width: 314px;
}

.courseNavImg {
	width: 318px;
	height: 73px;
}
img.coursesCard.lastCard {
	margin-left: 30px;
}

/* coursenav - states */
#courseNav-cert {
	background: url('./../img/3\ Courses/Navigation/White buttons/1.png');
}
#courseNav-cert.active {
	background: url('./../img/3\ Courses/Navigation/Red buttons/1.png');
}
#courseNav-dipl {
	background: url('./../img/3\ Courses/Navigation/White buttons/2.png');
}
#courseNav-dipl.active {
	background: url('./../img/3\ Courses/Navigation/Red buttons/2.png');
}
#courseNav-bach {
	background: url('./../img/3\ Courses/Navigation/White buttons/3.png');
}
#courseNav-bach.active {
	background: url('./../img/3\ Courses/Navigation/Red buttons/3.png');
}
#courseNav-post {
	background: url('./../img/3\ Courses/Navigation/White buttons/4.png');
}
#courseNav-post.active {
	background: url('./../img/3\ Courses/Navigation/Red buttons/4.png');
}
#courseNav-mast {
	background: url('./../img/3\ Courses/Navigation/White buttons/5.png');
}
#courseNav-mast.active {
	background: url('./../img/3\ Courses/Navigation/Red buttons/5.png');
}

/*Video Section*/
#courseInfo-section {
	position: absolute;
	top: 0px;
	left: 0;
	width: 1146px;
	height: 670px;
	z-index: 25;
	opacity: 0;
	display: none;
}

span#moreInfoBtn {
	left: 771px !important;
	background: black;
	position: absolute;
	top: 243px;
	width: 360px;
}
/* Form Page - SLide 3 */

#form-bg {
	position: absolute;
	top: -53px;
	left: -107px;
	width: 1364px;
	height: 872px;
	text-align: center;
}

#form {
	position: absolute;
	width: 1146px;
	height: 670px;
	top: 0px;
	left: 0px;
	background: url(../img/3-form/form.png) no-repeat;
	background-position: center !important;
}

#submit {
	position: absolute;
	top: 514px;
	left: 588px;
	width: 471px;
	height: 96px;
	z-index: 15;
	background: transparent;
	border: solid 6px transparent !important;
	background-repeat: no-repeat !important;
	font-size: 0pt;
	/* background: url(../img/3-form/submitted.png); */
	background-position: center !important;
}

#email {
	position: absolute;
	top: 390px;
	left: 590px;
	width: 411px;
	padding: 2px 12px 0 34px;
	margin: 0 0 0 0;
	height: 71px;
	z-index: 15;
	border-radius: 6px;
	border: solid 6px transparent;
	background: transparent;
	font-size: 23pt;
	font-weight: 500;
	color: #333331;
}

/*Video Section*/
#video-section {
	position: absolute;
	top: 0px;
	left: 0;
	width: 1146px;
	height: 670px;
	z-index: 25;
	opacity: 0;
	display: none;
}
/*Video Section*/
#openDay-section {
	position: absolute;
	top: 0px;
	left: 0;
	width: 1146px;
	height: 670px;
	z-index: 25;
	opacity: 0;
	display: none;
}
